%h1 Listing element_attributes

%table.table
  %thead
    %tr
      %th Value
      %th Element
      %th Attribute
      %th
      %th
      %th

  %tbody
    - @element_attributes.each do |element_attribute|
      %tr
        %td= element_attribute.value
        %td= element_attribute.element
        %td= element_attribute.attribute
        %td= link_to 'Show', element_attribute, class: 'btn btn-default'
        %td= link_to 'Edit', edit_element_attribute_path(element_attribute), class: 'btn btn-default'
        %td= link_to 'Destroy', element_attribute, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Element attribute', new_element_attribute_path, class: 'btn btn-primary'
