%p#notice= notice

%p
  %b Value:
  = @element_attribute.value
%p
  %b Element:
  = @element_attribute.element
%p
  %b Attribute:
  = @element_attribute.attribute

= link_to 'Edit', edit_element_attribute_path(@element_attribute), class: 'btn btn-default'

= link_to 'Back', element_attributes_path, class: 'btn btn-default'
