= simple_form_for @element_aviable_attribute do |f|
  - if @element_aviable_attribute.errors.any?
    #error_explanation
      %h2= "#{pluralize(@element_aviable_attribute.errors.count, "error")} prohibited this element_aviable_attribute from being saved:"
      %ul
        - @element_aviable_attribute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :element_type
  .field
    = f.input :attribute
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
