%h1 Editing element_aviable_attribute

= render 'form'

= link_to 'Show', @element_aviable_attribute, class: 'btn btn-default'

= link_to 'Back', element_aviable_attributes_path, class: 'btn btn-default'
