%h1 Listing element_aviable_attributes

%table.table
  %thead
    %tr
      %th Element type
      %th Attribute
      %th
      %th
      %th

  %tbody
    - @element_aviable_attributes.each do |element_aviable_attribute|
      %tr
        %td= element_aviable_attribute.element_type
        %td= element_aviable_attribute.attribute
        %td= link_to 'Show', element_aviable_attribute, class: 'btn btn-default'
        %td= link_to 'Edit', edit_element_aviable_attribute_path(element_aviable_attribute), class: 'btn btn-default'
        %td= link_to 'Destroy', element_aviable_attribute, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Element aviable attribute', new_element_aviable_attribute_path, class: 'btn btn-primary'
