%p#notice= notice

%p
  %b Element type:
  = @element_aviable_attribute.element_type
%p
  %b Attribute:
  = @element_aviable_attribute.attribute

= link_to 'Edit', edit_element_aviable_attribute_path(@element_aviable_attribute), class: 'btn btn-default'

= link_to 'Back', element_aviable_attributes_path, class: 'btn btn-default'
