= simple_form_for @element do |f|
  - if @element.errors.any?
    #error_explanation
      %h2= "#{pluralize(@element.errors.count, "error")} prohibited this element from being saved:"
      %ul
        - @element.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.association :element_type
  .field
    = f.input :name
  .field
    = f.input :is_pattern, as: :boolean
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
