%h1 Listing elements

%table.table
  %thead
    %tr
      %th Element type
      %th Name
      %th Is pattern
      %th
      %th
      %th

  %tbody
    - @elements.each do |element|
      %tr
        %td= element.element_type.name
        %td= element.name
        %td= element.is_pattern
        %td= link_to 'Show', element, class: 'btn btn-default'
        %td= link_to 'Edit', edit_element_path(element), class: 'btn btn-default'
        %td= link_to 'Destroy', element, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Element', new_element_path, class: 'btn btn-primary'
