%p#notice= notice

%p
  %b Element type:
  = @element.element_type.name
%p
  %b Name:
  = @element.name
%p
  %b Is pattern:
  = @element.is_pattern

= link_to 'Edit', edit_element_path(@element), class: 'btn btn-default'

= link_to 'Back', elements_path, class: 'btn btn-default'
