= simple_form_for @attribute do |f|
  - if @attribute.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attribute.errors.count, "error")} prohibited this attribute from being saved:"
      %ul
        - @attribute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    = f.input :description
  .field
    = f.input :multi
  .field
    = f.input :user_add_aviable, as: :boolean
  .field
    = f.input :option
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
