%h1 Listing attributes

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Multi
      %th User add aviable
      %th Option
      %th
      %th
      %th

  %tbody
    - @attributes.each do |attribute|
      %tr
        %td= attribute.name
        %td= attribute.description
        %td= attribute.multi
        %td= attribute.user_add_aviable
        %td= attribute.option
        %td= link_to 'Show', attribute, class: 'btn btn-default'
        %td= link_to 'Edit', edit_attribute_path(attribute), class: 'btn btn-default'
        %td= link_to 'Destroy', attribute, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attribute', new_attribute_path, class: 'btn btn-primary'
