%p#notice= notice

%p
  %b Name:
  = @attribute.name
%p
  %b Description:
  = @attribute.description
%p
  %b Multi:
  = @attribute.multi
%p
  %b User add aviable:
  = @attribute.user_add_aviable
%p
  %b Option:
  = @attribute.option

= link_to 'Edit', edit_attribute_path(@attribute), class: 'btn btn-default'

= link_to 'Back', attributes_path, class: 'btn btn-default'
