= simple_form_for @map do |f|
  - if @map.errors.any?
    #error_explanation
      %h2= "#{pluralize(@map.errors.count, "error")} prohibited this map from being saved:"
      %ul
        - @map.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    = f.input :max_x_cord
  .field
    = f.input :max_y_cord
  .field
    = f.input :background_url
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
