%h1 Listing maps

%table.table
  %thead
    %tr
      %th Name
      %th Max x cord
      %th Max y cord
      %th Background url
      %th
      %th
      %th

  %tbody
    - @maps.each do |map|
      %tr
        %td= map.name
        %td= map.max_x_cord
        %td= map.max_y_cord
        %td= map.background_url
        %td= link_to 'Show', map, class: 'btn btn-default'
        %td= link_to 'Edit', edit_map_path(map), class: 'btn btn-default'
        %td= link_to 'Destroy', map, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Map', new_map_path, class: 'btn btn-primary'
