%p#notice= notice

%p
  %b Name:
  = @map.name
%p
  %b Max x cord:
  = @map.max_x_cord
%p
  %b Max y cord:
  = @map.max_y_cord
%p
  %b Background url:
  = @map.background_url

= link_to 'Edit', edit_map_path(@map), class: 'btn btn-default'

= link_to 'Back', maps_path, class: 'btn btn-default'
