= simple_form_for @element_connection do |f|
  - if @element_connection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@element_connection.errors.count, "error")} prohibited this element_connection from being saved:"
      %ul
        - @element_connection.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :connection_type
  .field
    = f.association :element
  .field
    = f.association :element2
  .field
    = f.input :parameters
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
