%h1 Listing element_connections

%table.table
  %thead
    %tr
      %th Connection type
      %th Element
      %th Second element
      %th Parameters
      %th
      %th
      %th

  %tbody
    - @element_connections.each do |element_connection|
      %tr
        %td= element_connection.connection_type
        %td= element_connection.element.try(:name)
        %td= element_connection.element2.try(:name)
        %td= element_connection.parameters
        %td= link_to 'Show', element_connection, class: 'btn btn-default'
        %td= link_to 'Edit', edit_element_connection_path(element_connection), class: 'btn btn-default'
        %td= link_to 'Destroy', element_connection, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Element connection', new_element_connection_path, class: 'btn btn-primary'
