%p#notice= notice

%p
  %b Connection type:
  = @element_connection.connection_type
%p
  %b Element:
  = @element_connection.element.try(:name)
%p
  %b Second element:
  = @element_connection.element2.try(:name)
%p
  %b Parameters:
  = @element_connection.parameters

= link_to 'Edit', edit_element_connection_path(@element_connection), class: 'btn btn-default'

= link_to 'Back', element_connections_path, class: 'btn btn-default'
