= simple_form_for @map_element_location do |f|
  - if @map_element_location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@map_element_location.errors.count, "error")} prohibited this map_element_location from being saved:"
      %ul
        - @map_element_location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.association :parent
  .field
    = f.association :element
  .field
    = f.association :map
  .field
    = f.input :x_map_cord
  .field
    = f.input :y_map_cord
  .field
    = f.input :parent_element_cord1
  .field
    = f.input :parent_element_cord2
  .field
    = f.input :parent_element_cord3
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
