%h1.headline Listing map_element_locations

- if @parent
  %p="Children of #{@parent.element.name}"
  %p
    You can
    = link_to 'go up', map_element_locations_path(id_parent: @parent.parent.try(:id))

%table.table
  %thead
    %tr
      %th Id parent
      %th Element
      %th Map
      %th X map cord
      %th Y map cord
      %th Parent element cord1
      %th Parent element cord2
      %th Parent element cord3
      %th
      %th
      %th
      %th

  %tbody
    - @map_element_locations.each do |map_element_location|
      %tr
        %td= map_element_location.parent.try(:element).try(:name)
        %td= map_element_location.element.name
        %td= map_element_location.map.name
        %td= map_element_location.x_map_cord
        %td= map_element_location.y_map_cord
        %td= map_element_location.parent_element_cord1
        %td= map_element_location.parent_element_cord2
        %td= map_element_location.parent_element_cord3
        %td
          = link_to 'Children', map_element_locations_path(id_parent: map_element_location.id), class: 'btn btn-default' if map_element_location.children.any?
        %td= link_to 'Show', map_element_location, class: 'btn btn-default'
        %td= link_to 'Edit', edit_map_element_location_path(map_element_location), class: 'btn btn-default'
        %td= link_to 'Destroy', map_element_location, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Map element location', new_map_element_location_path, class: 'btn btn-primary'
