%p#notice= notice

%p
  %b Id parent:
  = @map_element_location.id_parent
%p
  %b Element:
  = @map_element_location.element
%p
  %b Map:
  = @map_element_location.map
%p
  %b X map cord:
  = @map_element_location.x_map_cord
%p
  %b Y map cord:
  = @map_element_location.y_map_cord
%p
  %b Parent element cord1:
  = @map_element_location.parent_element_cord1
%p
  %b Parent element cord2:
  = @map_element_location.parent_element_cord2
%p
  %b Parent element cord3:
  = @map_element_location.parent_element_cord3

= link_to 'Edit', edit_map_element_location_path(@map_element_location), class: 'btn btn-default'

= link_to 'Back', map_element_locations_path, class: 'btn btn-default'
