= simple_form_for @element_type do |f|
  - if @element_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@element_type.errors.count, "error")} prohibited this element_type from being saved:"
      %ul
        - @element_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    = f.input :description
  .field
    = f.input :max_cord1
  .field
    = f.input :max_cord2
  .field
    = f.input :max_cord3
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
