%h1 Listing element_types

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Max cord1
      %th Max cord2
      %th Max cord3
      %th
      %th
      %th

  %tbody
    - @element_types.each do |element_type|
      %tr
        %td= element_type.name
        %td= element_type.description
        %td= element_type.max_cord1
        %td= element_type.max_cord2
        %td= element_type.max_cord3
        %td= link_to 'Show', element_type, class: 'btn btn-default'
        %td= link_to 'Edit', edit_element_type_path(element_type), class: 'btn btn-default'
        %td= link_to 'Destroy', element_type, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Element type', new_element_type_path, class: 'btn btn-primary'
