%p#notice= notice

%p
  %b Name:
  = @element_type.name
%p
  %b Description:
  = @element_type.description
%p
  %b Max cord1:
  = @element_type.max_cord1
%p
  %b Max cord2:
  = @element_type.max_cord2
%p
  %b Max cord3:
  = @element_type.max_cord3

= link_to 'Edit', edit_element_type_path(@element_type), class: 'btn btn-default'

= link_to 'Back', element_types_path, class: 'btn btn-default'
