//= require_tree .
//= require_self

@import "bootstrap-sprockets"
@import "bootstrap"

body
  padding-top: 60px
  .not-ready
    opacity: 0.5
    &:after
      content: ']'
    &:before
      content: '['
