!!!
%html
  %head
    %title Pkw
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          =link_to 'Paszp Alpha', root_url, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'locations', map_element_locations_url
            %li= link_to 'maps', maps_url
            %li= link_to 'el. types', element_types_url
            %li= link_to 'el. connections', element_connections_url
            %li= link_to 'el. aviable attributes', element_aviable_attributes_url, class: 'not-ready'
            %li= link_to 'el. attributes', element_attributes_url, class: 'not-ready'
            %li= link_to 'elements', elements_url
            %li= link_to 'attributes', attributes_url

    .container
      = render 'flash_messager'
      = yield
